@charset "utf-8";
/*** reset begin ***/
*{ margin: 0; padding:0;}

body { font-family: "Microsoft YaHei"; font-size: 14px; background: url(./images/bg.png) repeat;}

.wrap { width: 1170px; margin: 0 auto; padding-top: 40px;}

input,button,fieldset { border: 0 none;}

input:focus { outline: 0 none;}

ul{list-style-type: none;}

em { font-style: normal;}

a {text-decoration: none;}

img{ border: 0;}
/*** reset end ***/

/* clearfix begin */
.clearfix:after { visibility:hidden; display:block; font-size:0; content:""; clear:both; height:0; }
* html .clearfix { zoom:1; } /* IE6 */
*:first-child+html .clearfix { zoom:1; } /* IE7 */
/* clearfix end */


